#container {
    width: 360px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid black;
}
#container div {
    width: 118px;
    height: 118px;
    border: 1px solid black
}
.btn img{
    width: 118px;
    height: 118px;
}